@import "tailwindcss";
@plugin "daisyui";

@keyframes border {
  0% {
    background-position: 0% 50%;
    filter: hue-rotate(0deg);
  }
  50% {
    background-position: 100% 50%;
    filter: hue-rotate(180deg);
  }
  100% {
    background-position: 0% 50%;
    filter: hue-rotate(360deg);
  }
}

.animate-border {
  background-size: 300% 300%;
  animation: border 6s linear infinite;
}
