@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto Slab", serif;
}

.error {
  font-family: "Bitcount Single Ink", system-ui;
}

.fontStyle {
  font-family: "Bitcount Grid Single", system-ui;
}

a.active {
  border-bottom: 2px solid rgb(241, 131, 103);
  border-radius: 6px;
}

/* Form Animation */
@keyframes border {
  0% {
    background-position: 0% 50%;
    filter: hue-rotate(0deg);
  }
  50% {
    background-position: 100% 50%;
    filter: hue-rotate(180deg);
  }
  100% {
    background-position: 0% 50%;
    filter: hue-rotate(360deg);
  }
}

.animate-border {
  background-size: 300% 300%;
  animation: border 6s linear infinite;
}

/* Swiper */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
